<div class="block_header">
    Страница записей
</div>
<div class="records_container" ng-controller="recordsController as vm">
    <div class="button_row">
        <md-button class="md-raised blue" ng-click="vm.addNewEvent()">Добавить событие</md-button>
        <md-button class="md-raised blue" ng-click="vm.addNewCategory()">Добавить категорию</md-button>
    </div>
    <div class="table_block">
        <custom-table
            headers = 'vm.headers'
            props = 'vm.props'
            source="vm.dataSource"
        ></custom-table>
    </div>

</div>
