

body{
    font-size:14px;
    font-family:Roboto, sans-serif;
}


a{
    ouline:none;
}

.container{
    max-width:1200px;
    margin:0 auto;
    width:100%;
}


.form_block {
    max-width: 380px;
    width:100%;
    display: Flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    justify-content: flex-start;
    height: 450px;
    box-shadow: 4px 5px 10px 1px rgb(0 0 0 / 40%);
}

md-input-container{
    width:100%;
    position:relative;
    margin:3px 0;
}
.modal .header{
    margin-bottom:20px;
    font-weight:bold;
}
.modal md-input-container{
    margin-bottom:15px;
    height:40px;
}

.md-select-menu-container.md-active{
    z-index:999;
}

.showButton{
    width:20px;
    position:absolute;
    right:0;
    top:0;
    height:20px;
    min-width:20px;
    min-height:20px;
    padding:0;
}


.showButton span{
    font-size:20px;
}

.form_block form{
    display: Flex;
    width:95%;
    margin:0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-Block{
    transition-duration:0.4s;
    -webkit-transition:0.4s;
    opacity: 0;
    height:1px;
    overflow: hidden;
    margin:10px auto;
    background-color: #ff413a;
    color:#fff;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.active{
    height:35px;
    transition-duration:0.4s;
    -webkit-transition:0.4s;
    opacity: 1;
    overflow: visible;
}

.form_header{
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
}

.auth{
    height:100vh;
    display:Flex;
    align-items: center;
    justify-content: center;
}

.form_block .line{
    margin-top:20px;
}

.imageBlock{
    width:120px;
    height:120px;
    overflow: hidden;
    margin:25px auto;
    border-radius: 360px;
}

.imageBlock img{
    height: 100%;
    width: auto;
}

.md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar{
    background-color:#3f51b5;
    color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo .material-icons{
    margin-right:10px;
}

.md-toolbar.md-default-theme.md-menu-toolbar .container,
md-toolbar.md-menu-toolbar .container {
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0 10px;
}

.toolbarBlock{
    display:flex;
    align-items: center;
}

.toolbarBlock ul li{
    margin:0 10px;
    list-style: none;
}

.toolbarBlock ul{
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.drawerContainer{
    overflow: hidden;
    width:100%;
    min-height:calc(100vh - 56px);
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);
    display:flex;
}

.drawerContainer .content{
    width:100%;
}

.drawer{
    background-color:#f8f8ff;
    width: 30%;
    margin-left:-30%;
    border-left:1px solid #333;
    display:flex;
    flex-direction: column;
    height:calc(100vh - 56px);
    align-items: center;
    transition-duration:0.4s;
    -webkit-transition:0.4s;
    justify-content: flex-start;
}

md-menu-content{
    min-width:120px;
}

.drawerContainer .active{
    margin-left:0;
}

.drawer .name{
    font-weight:bold;
    font-size:20px;
    margin-top:50px;
    text-transform: capitalize;
    margin-bottom:20px;
}

.gray{
    opacity: 0.7;

}

.icon{
    cursor: pointer;
}

.headerItem{
    padding:0 8px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.menuBlock{
    width:100%;
}
.activeLink{
    font-weight:bold;
    color:#fff;
    background-color:#3f51b5;
}

.menu_title{
    padding:10px;
    border-bottom:1px solid rgba(198, 206, 211, 0.84);
}


.info_block {
    text-align: center;
    width: 100%;
    margin: 40px auto;
}


.name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.navBar{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

a{
    outline: none;
}

.navBar a{
    padding:10px 22px;
    width:100%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;

}

custom-table{
    width:100%;
}

.tableContainer{
    background-color:#fff;
    border-radius: 4px;
    padding-bottom:25px;
    padding-top:10px;
}


.table_header_row,
.tableRow{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    border-bottom:1px solid #c6ced3;
    flex-wrap: nowrap;
}


.table_cell{
    width:100%;
    padding:10px 25px;
}


.bill_container{
    display:Flex;
    align-items: flex-start;
    width:100%;
    max-width:100%;
    justify-content: space-between;
}

.bill_container .tableBlock{
    width:49%;
    background-color:#fff;
    padding:10px;
    box-sizing: border-box;
}

.bill_container .tableHeader{
    padding:15px;
    margin-bottom:10px;
}

.show-block{
    padding:0 15px;
    box-sizing: border-box;
}
.modal_container{
    position: relative;
}
.modal_container .cross{
    width:25px;
    outline: none;
    height:25px;
    z-index:12;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:url('../../assets/img/close_one.png');
    position:absolute;
    right:15px;
    cursor: pointer;
    top:15px;
}

.block_header {
    display: flex;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #e6dfdf;
    margin: 30px auto;
    justify-content: space-between;
    font-size:20px;
    font-weight:400;
}

.graph_container{
    max-width:500px;
}

.income{
    box-shadow: 9px 9px 2px rgb(63 81 181 / 58%);
}

.outcome{
    box-shadow:9px 9px 2px rgba(244, 67, 54, 0.51);
}

.details_block .title{
    text-transform: capitalize;
}

.details_block{
    max-width:500px;
    margin:50px auto;
    padding:20px;
    border:1px solid #eee;
    border-radius: 8px;
}

.outcome .title{
    color: #f44336;
}

.income .title{
    color: #3f51b5;
}
.details_block .title{
    font-weight: bold;
    text-align: center;
    font-size:20px;
}

.paginatorContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.totalBlock{
    display:flex;
    align-items: center;
    justify-content: center;
}

.tableContainer{
    margin-top:40px;
}

.totalBlock .from{
    margin-left:15px;
}

paginator button{
    background-color:transparent;
    border: 0;
    outline:none;
    cursor: pointer;
}

paginator .buttons_container{
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.material-icons{
    outline: none;
}

.blue{
    background-color:#2a6496!important;
    color: #ffffff !important;
}

.records_container .button_row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.small_img{
    max-width:35px;
}

.modal{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:0;
    display:flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    opacity: 0;
    z-index:100;
    transition-duration: 0.4s;
    -ms-transition-duration:0.4s;
    -webkit-transition: 0.4s;
}

.modal .backdrop{
    position:fixed;
    left:0;
    background-color:rgba(0,0,0,0.45);
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}

.modal .modal-content{
    width:600px;
    position:relative;
    z-index:2;
    background-color:#fff;
    padding:25px 15px;
}

.modal-opened{
    opacity: 1;
    height:100%;
    transition-duration: 0.4s;
    -ms-transition-duration:0.4s;
    -webkit-transition: 0.4s;
}



@media(max-width:1300px){
    .table_cell{
        font-size:0.8em;
        padding:8px;
    }
}
