<app-header></app-header>
<div class="drawerContainer">
    <div class="drawer active" ng-class="vm.drawer? 'active':'' " ng-if="vm.user">
        <div class="name">
            {{vm.user.name}}
        </div>
        <div class="email">
            {{vm.user.email}}
        </div>
        <div class="imageBlock">
            <img alt="" src="{{'assets/img/img' | imgFilter}}">
        </div>
        <div class="menuBlock">
            <div class="menu_title">Страницы</div>
            <div class="navBar">
                <a ng-click="vm.setState('bill')" ng-class="vm.menuState === 'bill'?'activeLink':'' ">Страница счета</a>
                <a ng-click="vm.setState('records')" ng-class="vm.menuState === 'records'?'activeLink':'' ">Страница записей</a>
                <a ng-click="vm.setState('history')" ng-class="vm.menuState === 'history'?'activeLink':'' ">Страница истории</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="block_header">
            {{vm.title}}
        </div>
        <div class="show-block" ng-include="vm.tempState"></div>
    </div>
</div>
<app-footer></app-footer>
