<div class="form_block">
    <div class="form_header">Домашняя бухгалтерия</div>
    <form>
        <div class="subHeader">
            Войдите для работы
        </div>
        <md-input-container>
            <label>Почта</label>
            <input type="text" placeholder="Почта">
        </md-input-container>
        <md-input-container>
            <label>Пароль</label>
            <input type="password" placeholder="Пароль">
            <md-button></md-button>
        </md-input-container>
        <md-button>Войти</md-button>
    </form>
    <div class="line">
        Нет аккаунта? <a href="#/reg">Зарегистрироваться</a>
    </div>
</div>
